body {
    background-color: #FFF;
    font-family: Roboto;
}

#list {
    border: solid black 1px;
    width: 50%;
    margin: 2% auto;
}


.show {
    display: inline-block;
}

.hide {
    display: none;
}


/* --------------------------------------------------------------------------------------------- */


.weather-container, .todo-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    /* border: solid 2px black; */
}




.header {
    color: #ff7726;
    font-size: 24px;
    margin: auto;
    margin-bottom: 20px;
}

.add-city {
    background: #FFF;
}

.input-container {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.input-container label {
    padding-left: 10px;
    padding-right: 10px;
}

/* progres {
    margin: 0 auto;
} */
.progress {
    display: flex;
    justify-content: center;
}

progress {
    width: 30%;
}

progress[value]::-webkit-progress-bar {
    background: #F57C00;
}
/* progress::-webkit-progress-value {  
    background: #F57C00 ;  
}  */

.table-container {
    background: #FFF;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
}

.todo-table-container {
    width: 70%;
    margin: 0 auto;
}

.table {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */

}

/* .todo-table .table-row{
    color: #4CAF50;
} */

.todo-table {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}


.todo-table-row {
    font-size: 18px;
    background-color: #FFF;
    width: 70%;
    border-top: #F57C00 solid 2px;
    padding: 10px;
    align-self: center;
    display: flex;
}

.todo-table-row div {
    flex: 1;
    text-align: left;
    padding-left: 10px;
}


.table-row {
    font-size: 18px;
    background-color: #FFF;
    width: 70%;
    border-top: #F57C00 solid 2px;
    padding: 10px;
    align-self: center;
    display: flex;
    justify-content: baseline;
}




.table-row:first-child {
    font-weight: bold;
    border-bottom: #F57C00 solid 2px;
    border-top: #F57C00 solid 4px;
    padding-bottom: 12px;
    justify-content: flex-end;
}

.table-row div {
    /* flex: 1; */
    text-align: center;
}

.table-row div:first-child {
    /* color: #7fe465; */
    flex: 1;
}

.table-row div:nth-child(2) {
    /* color: #0d23ee; */
    flex: 2;
}

.table-row div:nth-child(3) {
    /* color: #e811fb; */
    flex: 2;
}
/* .table-row:first-child div {
    flex: 1;
} */

.id {
    font-weight: bold;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    /* padding: 16px 32px; */
    /* padding: 5px; */
    /* width: 80px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin-left: 15px; */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #F57C00;
    width: 80px;
    /* flex: 1; */
    /* flex-basis: 30%;   */
}

.button3:hover {
    background-color: #F57C00;
    color: white;
}

#button_add_city {
    background-color: #F57C00; 
    color: white; 
    border: 2px solid rgb(214, 109, 3);
    margin-left: 15px;
    width: 80px;
}

#button_add_city:hover {
    background-color: white;
    color: #F57C00;
}

#button_check_weather {
    background-color: #F57C00; 
    color: white; 
    border: 2px solid rgb(214, 109, 3);
    margin-left: 15px;
    width: 80px;
}

#usless {
    color: white;
    background-color: white; 
    color: black; 
    border: 2px solid white;
    cursor: unset;
    /* flex: 1; */
    width: 80px;
}

.unactive, .unactive:hover {
    background-color: darkgray !important;
    border: 2px solid darkgray !important;
    cursor: unset !important;
    color: white !important;

}

#button_add_task, #button_clear_storage {
    background-color: #F57C00; 
    color: white; 
    border: 2px solid rgb(214, 109, 3);
    margin-left: 15px;
    width: 80px;
}

#button_add_task:hover, #button_clear_storage:hover {
    background-color: white;
    color: #F57C00;
}